.landingContainer{
    // border: 2px solid black;
    width: 500px;
    height: 200px;

    h1{
        margin-bottom: 50px;
        font-size: xx-large;
    }

    .btn{
        display: block;
        border: 2px solid #E3E3E3;
        padding: 8px 0 8px 0;
        margin: 20px auto;
        width: 150px;
        height: 30px;
        background-color: #E3E3E3;
        border-radius: 20px;
        text-decoration: none;
        font-size: larger;
        color: black;
        font-weight: 600;
    }
}